
<link rel="stylesheet" href="/stylesheets/homepage.css">
<!-- <link rel="stylesheet" href="/javascripts/homepage.js"> -->


<div class="container">
    <div class="card">
      <figure class="front">
        <img src="http://www.jboeijenga.nl/img/front.jpg" alt="front">
        <div class="caption">
          <h2>Do <span>Nation</span></h2>
          <p>trusted charity</p>
          <a href="#">View more</a>
        </div>			
      </figure>
  
      <figure class="back">
         <img src="http://www.jboeijenga.nl/img/back.jpg" alt="back">
          <div class="caption">
            <dl>
              <dt>Phone</dt>
              <dd>012 345 6789</dd>
              <dt>Email</dt>
              <dd>gudlasreeman@gmail.com</dd>
              <dt>Charity</dt>
              <dd>www.donation.com</dd>
            </dl>
          </div>
      </figure>
    </div>
  </div>

<!-- <h1>donation</h1> -->
<a href="/signin">lets start</a>

   
<script>
   $('.card').click(function(){
    $(this).toggleClass('flipped');
  });
  </script>
     

<script src="/javascripts/hompage.js"></script>

