<% for(let payment of user.payments){%>
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title"><%=payment.name%></h5>
          <p class="card-text"><%=payment.amount%></p>
        </div>
      </div>
      <%}%>